<dom-module id="icon-styles">
    <template>
        <style >
            .large-icon {
                width: var(--lumo-icon-size-l);
                height: var(--lumo-icon-size-l);
            }
            .small-icon {
                width: var(--lumo-icon-size-s);
                height: var(--lumo-icon-size-s);
            }

            .ok-icon {
                color: green;
                text-shadow: 1px 1px 1px #ccc;
                font-size: 1.5em;
            }

            .error-icon {
                color: red;
                text-shadow: 1px 1px 1px #ccc;
                font-size: 1.5em;
            }
        </style>
    </template>
</dom-module>

