<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="all-imports.html">

<dom-module id="example-lumo">
    <template>
        <style>
            /* Test for common CSS reset */
            * {
                box-sizing: border-box;
            }
            vaadin-split-layout {
                width: 100vw;
                height: 100vh;
            }
            vaadin-context-menu,
            vaadin-grid {
                height: 100%;
            }
            iron-icon {
                width: var(--lumo-icon-size-m);
                height: var(--lumo-icon-size-m);
                flex: none;
            }
            .large-icon {
                width: var(--lumo-icon-size-l);
                height: var(--lumo-icon-size-l);
            }
            .small-icon {
                width: var(--lumo-icon-size-s);
                height: var(--lumo-icon-size-s);
            }
            vaadin-dialog-overlay {
                max-width: 30em;
            }
            vaadin-dialog-overlay h2 {
                margin-top: 0;
            }
        </style>
        <vaadin-split-layout theme="minimal">
            <vaadin-vertical-layout style="width: 45%; background-color: var(--lumo-shade-5pct);" theme="padding spacing-l">
                <div>
                    <h4>Header 4 <span theme="badge">Badge</span></h4>
                    <p>Paragraph lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <vaadin-form-layout responsive-steps='[{"minWidth": "0", "columns": 1, "labelsPosition": "top"}, {"minWidth": "400px", "columns": 2, "labelsPosition": "top"}]'>
                    <vaadin-text-field label="Text field" placeholder="Placeholder" error-message="Error message" required></vaadin-text-field>
                    <vaadin-select label="Select" placeholder="Placeholder" required error-message="Select an option">
                        <iron-icon icon="lumo:bar-chart" slot="prefix"></iron-icon>
                        <template>
                            <vaadin-list-box>
                                <vaadin-item>Option one</vaadin-item>
                                <vaadin-item>Option two</vaadin-item>
                                <vaadin-item>Option three</vaadin-item>
                                <vaadin-item>Option four</vaadin-item>
                                <vaadin-item>Option five</vaadin-item>
                                <vaadin-item>Option six</vaadin-item>
                                <hr>
                                <vaadin-item>Option seven</vaadin-item>
                                <vaadin-item>Option eight</vaadin-item>
                                <vaadin-item>Option nine</vaadin-item>
                                <vaadin-item>Option ten</vaadin-item>
                                <hr>
                                <vaadin-item>Option eleven</vaadin-item>
                                <vaadin-item disabled>Option twelve</vaadin-item>
                                <vaadin-item disabled>Option thirteen</vaadin-item>
                                <vaadin-item disabled>Option fourteen</vaadin-item>
                            </vaadin-list-box>
                        </template>
                    </vaadin-select>
                    <vaadin-date-picker label="Date picker" placeholder="Placeholder"></vaadin-date-picker>
                    <vaadin-select label="Select" placeholder="Placeholder">
                        <template>
                            <vaadin-list-box>
                                <vaadin-item><iron-icon icon="lumo:user"></iron-icon> Option one</vaadin-item>
                                <vaadin-item><iron-icon icon="lumo:phone"></iron-icon> Option two</vaadin-item>
                                <hr>
                                <vaadin-item><iron-icon icon="lumo:cog"></iron-icon> Option three</vaadin-item>
                                <vaadin-item disabled><iron-icon icon="lumo:upload"></iron-icon> Option four</vaadin-item>
                            </vaadin-list-box>
                        </template>
                    </vaadin-select>
                    <vaadin-text-area label="Text area" placeholder="Placeholder" colspan="2">
                        <iron-icon icon="lumo:search" slot="prefix"></iron-icon>
                    </vaadin-text-area>
                    <vaadin-password-field label="Password"></vaadin-password-field>
                    <vaadin-combo-box label="Combo box" placeholder="Placeholder" items='["Option one", "Option two", "Option three"]' allow-custom-value>
                        <iron-icon icon="vaadin:clock" slot="prefix"></iron-icon>
                    </vaadin-combo-box>
                    <vaadin-form-item>
                        <label slot="label">Checkboxes</label>
                        <div>
                            <vaadin-checkbox checked>Option one</vaadin-checkbox>
                            <vaadin-checkbox>Option two</vaadin-checkbox>
                        </div>
                    </vaadin-form-item>
                    <vaadin-form-item>
                        <label slot="label">Radio group</label>
                        <vaadin-radio-group>
                            <vaadin-radio-button checked>Option one</vaadin-radio-button>
                            <vaadin-radio-button>Option two</vaadin-radio-button>
                            <vaadin-radio-button>Option three</vaadin-radio-button>
                        </vaadin-radio-group>
                    </vaadin-form-item>
                    <br>
                    <vaadin-horizontal-layout colspan="2" theme="spacing margin">
                        <vaadin-button theme="primary"><iron-icon icon="vaadin:plus" slot="prefix"></iron-icon>Primary Button</vaadin-button>
                        <vaadin-button theme=""><iron-icon icon="vaadin:trash" slot="prefix"></iron-icon>Secondary Button</vaadin-button>
                    </vaadin-horizontal-layout>
                </vaadin-form-layout>


            </vaadin-vertical-layout>
            <vaadin-split-layout orientation="vertical" theme="">
                <vaadin-horizontal-layout theme="padding spacing" style="flex: none; box-sizing: border-box;">
                    <vaadin-vertical-layout>
                        <vaadin-tabs style="align-self: stretch;">
                            <vaadin-tab><iron-icon icon="lumo:search"></iron-icon> <span>Dashboard</span></vaadin-tab>
                            <vaadin-tab><iron-icon icon="lumo:calendar"></iron-icon> <span>Reports</span></vaadin-tab>
                            <vaadin-tab><iron-icon icon="lumo:cog"></iron-icon> <span>Settings</span></vaadin-tab>
                        </vaadin-tabs>
                        <h5>Header 5</h5>
                        <p theme="font-size-s">Small text lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        <div style="align-self: stretch;">
                            <vaadin-progress-bar value="0.4"></vaadin-progress-bar>
                        </div>
                        <br>
                        <div>
                            <vaadin-button theme="primary success" id="openDialog"><iron-icon icon="lumo:arrow-up" slot="prefix"></iron-icon>Open Dialog</vaadin-button>
                            <vaadin-dialog>
                                <template>
                                    <h2>Dialog</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <h6>Header 6</h6>
                                    <p theme="font-size-s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                                    <hr>
                                    <vaadin-button theme="primary">Close</vaadin-button>
                                </template>
                            </vaadin-dialog>
                            <vaadin-button id="openNotification">Show notification</vaadin-button>
                            <vaadin-notification position="top-end" duration="4000">
                                <template>
                                    Notication message <vaadin-button>Dismiss</vaadin-button>
                                </template>
                            </vaadin-notification>
                            <vaadin-button theme="small">Small Button</vaadin-button>
                            <vaadin-button theme="tertiary">Tertiary Button</vaadin-button>
                            <div theme="font-size-s">Lorem ipsum dolor… <vaadin-button theme="tertiary-inline">Show more</vaadin-button></div>
                        </div>
                    </vaadin-vertical-layout>
                    <div style="flex: none;">
                        <vaadin-list-box selected="0">
                            <vaadin-item><iron-icon icon="lumo:user" class="small-icon"></iron-icon> Option one</vaadin-item>
                            <vaadin-item><iron-icon icon="lumo:phone" class="small-icon"></iron-icon> Option two</vaadin-item>
                            <hr>
                            <vaadin-item><iron-icon icon="lumo:cog" class="small-icon"></iron-icon> Option three</vaadin-item>
                            <vaadin-item disabled><iron-icon icon="lumo:upload" class="small-icon"></iron-icon> Option four</vaadin-item>
                        </vaadin-list-box>
                    </div>
                </vaadin-horizontal-layout>
                <vaadin-horizontal-layout>
                    <h1>Hello</h1>
                </vaadin-horizontal-layout>
            </vaadin-split-layout>
        </vaadin-split-layout>
    </template>

    <script>
        class ExampleLumo extends Polymer.Element {
            static get is() {
                return 'example-lumo';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(ExampleLumo.is, ExampleLumo);
    </script>
</dom-module>