<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import"
      href="../../bower_components/vaadin-ordered-layout/src/vaadin-vertical-layout.html">
<link rel="import"
      href="../../bower_components/vaadin-text-field/src/vaadin-text-area.html">
<link rel="import"
      href="../../bower_components/vaadin-radio-button/src/vaadin-radio-button.html">
<link rel="import"
      href="../../bower_components/vaadin-ordered-layout/src/vaadin-horizontal-layout.html">
<link rel="import" href="../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import"
      href="../../bower_components/vaadin-combo-box/src/vaadin-combo-box.html">
<link rel="import" href="../components/app-header.html">
<link rel="import" href="../components/app-footer.html">
<link rel="import" href="../components/contact-information.html">

<link rel="import" href="../../styles/shared-styles.html">

<dom-module id="main-view">
    <template>
        <!-- global and specific styles -->
        <style include="shared-styles">
            .container {
                background-color: #eee;
                height: 100%;
            }

            #animals-grid {
                height: inherit;
            }
        </style>
        <vaadin-vertical-layout class="full-screen">
            <app-header></app-header>
            <div class="container">
                <vaadin-horizontal-layout theme="spacing" id="filter-container">
                    <vaadin-text-field id="animal-searcher" label="Term"
                                       placeholder="search"></vaadin-text-field>
                    <vaadin-combo-box items="[[items]]" id="specie-cb"
                                      label="Specie"></vaadin-combo-box>
                    <vaadin-combo-box items="[[items]]" id="owner-cb"
                                      label="Owner" class="to-the-right"></vaadin-combo-box>

                </vaadin-horizontal-layout>
                <vaadin-grid items="[[items]]"
                             id="animals-grid"></vaadin-grid>
            </div>

            <app-footer></app-footer>

            </div>
            </div>
        </vaadin-vertical-layout>
    </template>

    <script>
        class MainView extends Polymer.Element {
            static get is() {
                return 'main-view';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }

        customElements.define(MainView.is, MainView);
    </script>
</dom-module>