<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/vaadin-dialog/vaadin-dialog.html">
<link rel="import" href="../../bower_components/vaadin-button/vaadin-button.html">

<dom-module id="app-header">
    <template>
            <style>
                * {box-sizing: border-box;}

                body {
                    margin: 0;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .header {
                    overflow: hidden;
                    background-color: #26790c;
                    padding: 20px 10px;
                }

                .header a {
                    float: left;
                    color: black;
                    text-align: center;
                    padding: 12px;
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 25px;
                    border-radius: 4px;
                }

                .header a.logo {
                    font-size: 25px;
                    font-weight: bold;
                }

                .header a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .header a.active {
                    background-color: dodgerblue;
                    color: white;
                }

                .header-right {
                    float: right;
                }

                @media screen and (max-width: 500px) {
                    .header a {
                        float: none;
                        display: block;
                        text-align: left;
                    }
                    .header-right {
                        float: none;
                    }
                }
                .site-footer__vaadin-logo {
                    display: inline-block;
                    width: 100%;
                    max-width: 200px;
                }

            </style>


        <div class="header">
            <img class="site-footer__vaadin-logo" src="images/vaadin-logo.svg" alt="Vaadin">
            <div class="header-right">
                <a class="active" href="#home">Home</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
                <vaadin-button theme="primary success" id="openDialog"><iron-icon icon="lumo:arrow-up" slot="prefix"></iron-icon>Open Dialog</vaadin-button>
                <vaadin-dialog id="info-dialog">
                    <template>
                        <h2>Dialog</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <h6>Header 6</h6>
                        <p theme="font-size-s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <hr>
                        <vaadin-button theme="primary">Close</vaadin-button>
                    </template>
                </vaadin-dialog>
            </div>
        </div>

    </template>

    <script>
        class AppHeader extends Polymer.Element {
            static get is() {
                return 'app-header';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }

            ready(){
                super.ready();
                this.shadowRoot.querySelector('#openDialog').addEventListener('click', function() {
                    this.shadowRoot.querySelector('#info-dialog').opened = true;
                }.bind(this));
                // this.shadowRoot.querySelector('vaadin-dialog').addEventListener('opened-changed', function() {
                //     this.$.overlay.querySelector('vaadin-button').addEventListener('click', () => {
                //         this.opened = false;
                // });
                // });
            }
        }
        customElements.define(AppHeader.is, AppHeader);
    </script>
</dom-module>