<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="app-footer">
    <template>
<style>
        :host {
            margin:auto;
        }
        .footer-container {
            text-align: center;
        }
        </style>
<div class="site-footer__byline">
 <div class="footer-container">
  © 2018 Vaadin Ltd. All rights reserved. <a router-link="" target="_blank" href="/terms-of-service">Terms of Service</a> and <a target="_blank" href="/privacy-policy">Privacy Policy
  </div>
 </div>
</div>
</template>

    <script>
        class AppFooter extends Polymer.Element {
            static get is() {
                return 'app-footer';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }

        customElements.define(AppFooter.is, AppFooter);
    </script>
</dom-module>